/* 
Escala RGB (Red, Green, Blue)
Ex: "#ff0000" (vermelho)  ff = vermelho máx.
f = máx. (15)
*Aquarela Digital*
rgbA (rgb + opacidade)
*/

body{  /*Estilização de toda a parte estrutural*/
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  /*Todas as fontes presentes*/
    
    /*Serifado = "tracinho nas letras" (melhor para pessoaos com dislexia)*/
    /* A utilização de aspas simples(') serve apenas para fontes que possuem nomes compostos*/
    
    color: #333333;  /*Cor da fonte*/
    background-color: #ffffff  /* Cor do fundo*/
} 
h1{  /*Estilização da linha h1*/
    text-decoration: underline;  /*"Decora" a fonte, nesse caso, adiciona sublinhado*/
    font-style: italic;  /*Define um estilo a fonte, nesse caso, transforma em itálico*/
}
h2{  /*Estilização da linha h2*/
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;  /*Define a largura da fonte, nesse caso, deixa em negrito*/
}
header{  /*Estilização do cabeçalho*/
    background-color: cornflowerblue;
    margin: 0 5px 0 5px; 

    /*CIMA, DIREITA, BAIXO, ESQUERDA são a ordem de configuração das margens*/

    border-radius: 10px;  /*Serve para arredondar as pontas*/
    text-align: center;  /*Alinhamento do texto (centro)*/
    border: solid 2px rgb(0, 47, 255);  /*Define uma borda separada*/
}
nav{  /*Estilização da "caixinha" de navegação*/
    background-color: #1a5cb3;
    border: solid 2px #0011fa; 
    border-style: inset;
    border-radius: 10px;
    width: 100%;

    /*Quando um quadrado precisar preencher toda uma área, basta definir sua largura(width) em 100%, também valendo para a altura(height)*/
}
ul{  /*Estilização do lementos de lista não ordenados*/
    display: flex;
    flex-direction: row;
    padding: 0;
}
li{  /*Estilização dos elementos de lista em geral*/
    list-style: none;
    width: 20%;
    text-align: center;
}
a{  /*Estilização dos elementos clicáveis*/
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    font-size: 20px;
    color: #ff0000;
 }
 div{
    background-color: #ff0000;
    width: 100px;
    height: 100px;
    transition: all 0.8s;
 }
 div:hover{
    background-color: #00ff00;
    border-radius: 50px;
    transition: all 0.8s;
 }
 
/*Para adicionar uma cor dentro da outra, basta colocar um div dentro do outro (mas que existam no script HTML)*/
/*Na hierarqiuia, ID é mais forte que classe*/